# VS

*.sdf
*.opensdf
*.suo
*.vcxproj.user

# VS build

*.pdb
*.obj
*.lastbuildstate
*.log
*.tlog
*.idb
src/ipch/
debug
*.ilk
*.intermediate.manifest
*.unsuccessfulbuild

# Other

/src/luaexpose/md2
*.3dc
Vec3.lua

